@use '../util' as *;

html {
  font-size: 100%;
  box-sizing: border-box;
  font-family: var(--font-body);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-size: rem(14);
  font-weight: 400;
  color: var(--pale-blue);
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: var(--very-dk-blue);
  background-image: url('../images/bg-mobile.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100% 100%;
  
  @include breakpoint(medium) {
    background-image: url('../images/bg-desktop.png');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100% 50%;
  }
}